@page "/"


<div class="container">
    <header class="header">
        <h1 class="header-title"> Welcome to TravelHub!</h1>
    </header>
    <div class="featured-image" style="background-image: url('https://source.unsplash.com/1600x900/?travel')"></div>
</div>



<style>
    .featured-image {
        width: auto;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        
    }
    .header {
        padding: 20px;
        background-color:black;
        color:darkorange;
        text-align:center;
    }

    .header-title{
        font-size:36px;
        margin:auto;
    }
</style>